# $HOME/.config/systemd/user/amazon-cloud-drive.service
#
# Usage:
# * Setup acd_cli normally and create $HOME/acd,
# * check that /usr/local/bin/acd_cli is existent and executable.
# * Copy this file to:   $HOME/.config/systemd/user/amazon-cloud-drive.service
# * Reload systemd: systemctl --user daemon-reload
# * Start service:  systemctl --user start amazon-cloud-drive.service

[Unit]
Description=user Amazon Cloud Drive FUSE mount
Documentation=https://acd-cli.readthedocs.org/en/latest/
AssertPathIsDirectory=%h/acd
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/acd_cli mount --foreground %h/acd
ExecStop=/usr/local/bin/acd_cli -v -nl umount %h/acd
Restart=on-abort

[Install]
WantedBy=default.target
